ion-card {
    min-height: 500px;
}

ion-card-header {
    padding-bottom: 0 !important;
}

ion-button {
    width: 100%;
}

ion-col img {
    width: 100%;
}

.bgRojo {
    background-color: red; 
}

.bgRojo button,
ion-button button {
    background-color: inherit;
}